.carrito-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: auto;
    padding: 0 20px;
    max-width: 1200px;
    width: calc(100% - 40px);
}

.product-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    margin: 10px 0;
    height: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.product-div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-div h3, .product-div h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.product-div h3 {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.product-div h4 {
    font-size: 16px;
    color: #ccc;
    padding-bottom: 5px;
}

.product-div p {
    font-size: 12px;
    margin-top: auto;
    color: #ccc;
}

.product-div img {
    display: block;
    height: 150px;
    width: 300px;
    margin: 10px 0;
    border-radius: 4px;
    flex: 0 0 auto;
    object-fit: contain;
}